body{
    font-family: 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
    color: rgb(173, 10, 10);
}

p{
    font-weight: bold;
    text-align: center;
}

form{
    border: rgb(111, 233, 186) solid 2px;
    width: 60%;
    margin: 0 auto;
}

.formulario{
    background-color: rgb(129, 183, 228);
}

.boton{
    background: brown;
    border-radius: 10em;
    width: 8em;
    height: 2.5em;
    color: black;
    font-weight: bold;
    border-style: inset;
    border: rebeccapurple 2px solid;
    cursor: pointer;
}

.boton:hover{
    background-color: royalblue;
}